:focus-visible {
  outline: 2px solid $green;
}

nav {
  a {
    margin-left: 1rem;
    text-decoration: none;
    font-weight: 500;
    color: $dark-gray;
  }
}

article.hero {
  width: 100vw;
  min-height: 280px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.landing {
    background-image: url('~@/assets/hero/landing.jpg');
  }
}

div.flex {
  display: flex;
  &.top {
    margin-top: 1rem;
  }
  &.right {
    margin-right: 1rem;
  }
  &.bottom {
    margin-bottom: 1rem;
  }
  &.left {
    margin-left: 1rem;
  }
  &.gap {
    gap: 1rem;
  }
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  min-width: 120px;
  border-radius: 6px;
  text-transform: uppercase;
  &.green {
    background-color: $green;
    color: $white;
  }
  &.white {
    background-color: $white;
    color: $green;
  }
}

button:focus-visible {
  &.green {
    outline: 2px solid $white;
  }
  &.white {
    outline: 2px solid $dark-gray;
  }
}
